<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
        <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
        <link rel="stylesheet" href="/Styles/styles.css">
        <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
        <script src="/Scripts/programs.js"></script>
        <title>Xkool eShop</title>
    </head>
    <body>
        <div id="xkool-webstore">
            <header>
                <div class="logo">
                    <img src="/Media/logo.jpg" alt="eShop Logo">
                </div>
                <nav>
                    <a href="#">Programs</a>
                    <div>|</div>
                    <a href="#">About Us</a>
                    <div>|</div>
                    <a href="#">Contact Us</a>
                </nav>
                <div class="cart">
                    <button @click="showCheckOut" v-if="cart.length >= 1">
                        Cart ({{ cart.length }})
                        <span class="fa-solid fa-cart-plus"></span>
                    </button>
                    <button v-else>
                        Cart <span class="fa-solid fa-cart-plus"></span>
                    </button>
                </div>
            </header>
    
            <main>
                <div class="filSor">
                    <div class="filter">
                        <select name="filters" id="filters">
                            <option value="sports">Sports</option>
                            <option value="entertinment">Entertinment</option>
                            <option value="programming">Programming</option>
                            <option value="academic">Academic</option>
                        </select>
                    </div>
                    <div class="sort">
                        <select name="sorts" id="sorts">
                            <option value="nameAsc">Names (A - Z)</option>
                            <option value="nameDes">Names (Z - A)</option>
                            <option value="priceAsc">Price (Low - High)</option>
                            <option value="priceDes">Price (High - Low)</option>
                            <option value="ratingL">Rating (Lowest)</option>
                            <option value="ratingH">Rating (Highest)</option>
                        </select>
                        
                    </div>
                </div>
                <!-- Product Grid -->
                <div class="program-container" v-if="showProduct">
                    <div class="program-card" v-for="program in sortedPrograms">
                        <img :src="program.image" alt="Program Image">
                        <h2>{{ program.title }}</h2>
                        <p>{{ program.description }}</p>
                        <p>Price: Rs{{ program.price }}</p>
                        <button v-if="canAddtoCart(program)" @click="addItemtoCart(program)">Enroll</button>
                        <button v-else :disabled="true">Enroll</button>

                        <div>
                            <span v-for="n in program.rating">★</span>
                            <span v-for="n in 5 - program.rating">☆</span>
                        </div>                        

                        <span v-if="itemsLeft(program) === 0" id="allout">All out!</span>
                        <span v-else-if="itemsLeft(program) <= 5" id="items5-left">Only {{ itemsLeft(program) }} spots left!</span>
                        <span v-else id="items-left"> {{ itemsLeft(program) }} Spots Available! </span>
                    </div>
                </div>
    
                <!-- Checkout Section -->
                <div v-else id="checkout">
                    <form>
                        <h1>Checkout</h1>
                        <p><strong>Full Name</strong> <input v-model.trim="order.firstName"></p>
                        <p><strong>Last Name</strong> <input v-model.trim="order.lastName"></p>
                        <p><strong>Address</strong> <input v-model="order.address"></p>
                        <p><strong>City</strong> <input v-model="order.city"></p>
                        <p><button @click="submitCheckOut">Place Order</button></p>
                    </form>
                    <div class="details">
                        <h1>Your Details</h1>
                        <p>Name: <strong> {{ order.firstName }} {{ order.lastName }} </strong></p>
                        <p>Address: <strong> {{ order.address }}</strong></p>
                        <p>City: <strong> {{ order.city }} </strong></p>
                    </div>
                </div>
            </main>
        </div>
        <script src="/Scripts/script.js"></script>
    </body>
</html>