<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="Media/logo.jpg">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
        <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
        <link rel="stylesheet" href="Styles/styles.css">
        <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
        <title>Xkool eShop</title>
    </head>
    <body>
        <div id="xkool-webstore">
            <header>
                <div class="logo">
                    <img src="http://localhost:5454/Media/logo.jpg" alt="eShop Logo">
                </div>
                <nav>
                    <a href="#">Home</a>
                    <div>|</div>
                    <a href="#">About Us</a>
                    <div>|</div>
                    <a href="#">Contact Us</a>
                </nav>
                <div class="cart">
                    <button @click="showCheckOut" v-if="cart.length >= 1">
                        Cart
                        <span class="fa-solid fa-cart-plus"></span>
                        <span id="cartCount"><strong> {{ count1 }} </strong></span>
                    </button>
                    <button v-else>
                        Cart <span class="fa-solid fa-cart-plus"></span>
                    </button>
                </div>
            </header>
    
            <main>
                <div class="filSor" v-if="showPage">
                    <div class="filter">
                        <label for="filter">Select Filter</label>
                        <select name="filters" id="filters" v-model="selectedFilter">
                            <option value="">Default</option>
                            <option value="sports">Sports</option>
                            <option value="music">Music</option>
                            <option value="art">Arts</option>
                            <option value="education">Education</option>
                        </select>
                    </div>
                    <div class="sort">
                        <label for="sort">Select Sort</label>
                        <select name="sorts" id="sorts" v-model="selectedSort">
                            <option value="">Default</option>
                            <option value="nameAsc">Names (A - Z)</option>
                            <option value="nameDes">Names (Z - A)</option>
                            <option value="priceAsc">Price (Low - High)</option>
                            <option value="priceDes">Price (High - Low)</option>
                            <option value="ratingL">Rating (Lowest)</option>
                            <option value="ratingH">Rating (Highest)</option>
                        </select>
                    </div>
                </div>
                <!-- Product Grid -->
                <div class="program-container" v-if="showPage">
                    <div class="program-card" v-for="program in filteredAndSorted">
                        <img :src="'http://localhost:5454/' + program.image" alt="Program Image">
                        <h3>{{ program.title }}</h3>
                        <p>{{ program.description }}</p>
                        <p>Price: £ {{ program.price }}</p>
                        <p>Location: {{ program.location }}</p>
                        <button v-if="canAddtoCart(program)" @click="addItemtoCart(program)">Enroll</button>
                        <button v-else :disabled="true">Enroll</button>
                        <button v-if="canRemovefromCart(program)" @click="removeFromCart(program)">Disenroll</button>
                        <button v-else :disabled="true">Disenroll</button>

                        <div>
                            <span v-for="n in program.rating">★</span>
                            <span v-for="n in 5 - program.rating">☆</span>
                        </div>                        

                        <span v-if="itemsLeft(program) === 0" id="allout">All out!</span>
                        <span v-else-if="itemsLeft(program) <= 3" id="items3-left">Only {{ itemsLeft(program) }} spots left!</span>
                        <span v-else id="items-left">Only {{ itemsLeft(program) }} Spots Available!</span>
                    </div>
                </div>
    
                <!-- Checkout Section -->
                <div v-else id="checkout">
                    <div class="cartSum">
                        <h2>Cart Summary</h2>
                        <ul>
                            <!-- Loop through cart items and display details -->
                            <li v-for="program in cartDetails" :key="program.id">
                                <div class="cartImg"><img :src="'http://localhost:5454/' + program.image" alt="Program Image"></div>
                                <div>
                                    <p>Program ID: {{ program.id }} </p>
                                    <p><strong>{{ program.title }}</strong></p>
                                    <p>Price: £ {{ program.price }}</p>
                                    <p v-if="program.count > 1">Spaces: {{ program.count }}</p>
                                    <button @click="removeFromCart(program)">Remove</button>
                                </div>
                            </li>
                        </ul>
                        <!-- <p v-if="cartDetails.length === 0">Your cart is empty!</p> -->
                        <hr>
                        <h3>Total: £ {{ totalPrice }}</h3>
                    </div>
                    <form>
                        <h1>Checkout</h1>
                        <p><strong>Name</strong> <input v-model.trim="order.name"></p>
                        <p><strong>Phone</strong> <input v-model.trim="order.phone" type="tel"></p>
                        <p><strong>Address</strong> <input v-model="order.address" type="address"></p>
                        <p><strong>City</strong> <input v-model="order.city"></p>
                    </form>
                    <div class="detail">
                        <div class="details">
                            <h1>Your Details</h1>
                            <p>Name: <strong> {{ order.name }} </strong></p>
                            <p>Phone: <strong> {{ order.phone }} </strong></p>
                            <p>Address: <strong> {{ order.address }}</strong></p>
                            <p>City: <strong> {{ order.city }} </strong></p>
                        </div>                        
                        <button @click="submitCheckOut">Checkout</button>
                    </div>

                </div>
            </main>
        </div>
        <script src="Scripts/script.js"></script>
    </body>
</html>