body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa';
    background: hsla(0, 0%, 90%, 0.75);
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track {
    background: hsla(17, 100%, 45%, 0.9);
}

::-webkit-scrollbar-thumb {
    background: hsla(224, 64%, 57%, 1);
    border-radius: 50px;
}

header {
    padding: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: hsla(17, 100%, 45%, .9);
    color: hsla(0, 0%, 100%, 0.75);
    position: fixed;
    width: 100dvw;
    box-sizing: border-box;
    z-index: 1;
}

.logo img {
    width: 100px;
    border-radius: 50%;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

nav a {
    text-decoration: none;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 1.1rem;
    font-weight: bold;
}

button {
    background-color: hsl(224, 64%, 57%);
    font-family: "Comfortaa";
}

header button {
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

main {
    padding: 40px;
    padding-top: 10%;
}

.program-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.program-card {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(248, 50, 0, 0.1);
    text-align: center;
    transition: .3s ease-in-out;
    width: 20%;
}

.program-card:hover {
    scale: 1.05;
}

.program-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    border: .5px solid hsla(17, 100%, 45%, 0.75);
}

.program-card h2 {
    font-size: 1.5rem;
    margin: 15px 0;
}

.program-card p {
    font-size: 1rem;
    color: #555;
}

.program-card button {
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.program-card button:disabled {
    background-color: grey;
}

#allout {
    color: hsla(0, 100%, 45%, 0.75);
    font-weight: 600;
}

#items5-left {
    color: hsl(40, 100%, 45%);
    font-weight: 600;
}

#items-left {
    color: hsl(100, 100%, 45%);
    font-weight: 600;
}

#checkout {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding: 0;
}

form {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

form p {
    display: flex;
    flex-direction: column;
    width: 250%;
    align-items: center;
}

form input {
    height: 30px;
    border: 1px solid hsla(17, 100%, 45%, 0.75);
    border-radius: 10px;
    width: 15%;
    padding-inline: .5%;
}

form button {
    width: auto;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.details {
    /* display: flex; */
    width: 30%;
    padding: 1%;
    background: hsla(17, 100%, 45%, 0.4);
    border-radius: 15px;
}