body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa';
    background: hsla(0, 0%, 90%, 0.75);
    overflow-x: hidden;
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track {
    background: hsla(17, 100%, 45%, 0.9);
}

::-webkit-scrollbar-thumb {
    background: hsla(224, 64%, 57%, 1);
    border-radius: 50px;
}

header {
    padding: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: hsla(17, 100%, 45%, .9);
    color: hsla(0, 0%, 100%, 0.75);
    position: fixed;
    width: 100vw;
    box-sizing: border-box;
    z-index: 1;
}

.logo img {
    width: 70px;
    border-radius: 50%;
    object-fit: cover;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

nav a {
    text-decoration: none;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 1.1rem;
    font-weight: bold;
    transition: color 0.2s ease;
}

nav a:hover {
    color: hsla(0, 0%, 100%, 1);
}

.title {
    color: hsla(0, 0%, 100%, 1);
    font-size: large;
    font-weight: bold;
}

button {
    background-color: hsl(224, 64%, 60%);
    font-family: "Comfortaa";
    transition: background-color 0.2s ease;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color .7s;
    text-wrap: nowrap;
}

button:hover {
    background-color: hsl(224, 64%, 40%);
}

button:disabled {
    background-color: grey;
}

#cartCount {
    color:  hsl(224, 64%, 40%);
    background: hsla(0, 0%, 100%, 1);
    padding: 4%;
    border-radius: 5px;
}

main {
    padding: 40px;
    padding-top: 170px;
}

.filSor {
    margin-bottom: 1%;
    display: flex;
    width: 90%;
    flex-direction: row;
    align-items: end;
    justify-content: end;
}

.search input {
    margin: 1%;
    height: 30px;
    width: 400px;
    font-family: Comfortaa;
    font-weight: 600;
    border:  hsla(17, 100%, 45%, .9) 1.5px solid;
    border-radius: 10px;
    padding-inline: 10px;
}

.filter {
    margin-inline: 2%;
}

.sortOption {
    margin-inline-start: 2%;
}

select {
    display: flex;
    flex-direction: column;
    padding: 3%;
    margin: 3%;
    height: 30px;
    width: 150px;
    font-family: Comfortaa;
    font-weight: 600;
    border:  hsla(17, 100%, 45%, .9) 1.5px solid;
    border-radius: 10px;
}

.program-container {
    /* display: grid; */
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.program-card {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(248, 50, 0, 0.1);
    text-align: center;
    transition: .3s ease-in-out;
    width: 250px;
}

.program-card:hover {
    scale: 1.05;
    box-shadow: 0 8px 16px rgba(248, 50, 0, 0.2);
}

.program-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    border: .5px solid hsla(17, 100%, 45%, 0.75);
}

.program-card h2 {
    font-size: 1.5rem;
    margin: 15px 0;
}

.program-card p {
    font-size: 1rem;
    color: #555;
}

.program-card button {
    margin-block: .5%;
}

#allout {
    color: hsla(0, 100%, 45%, 0.75);
    font-weight: 600;
}

#items3-left {
    color: hsl(40, 100%, 45%);
    font-weight: 600;
}

#items-left {
    color: hsl(100, 100%, 45%);
    font-weight: 600;
}

#checkout {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly; 
    padding: 20px;
    flex-wrap: wrap; 
    gap: 20px; 
}

form {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%; 
    max-width: 300px;
    padding: 10px;
    box-sizing: border-box;
}

form p {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
    align-items: flex-start;
}

form input {
    height: 40px;
    border: 1px solid hsla(17, 100%, 45%, 0.75);
    border-radius: 10px;
    width: 100%;
    max-width: 300px; 
    padding: 5px; 
    font-size: 1rem;
    box-sizing: border-box;
}

.details {
    width: 100%;
    max-width: 400px;
    padding: 20px; 
    background: hsla(17, 100%, 45%, 0.4);
    border-radius: 15px;
    box-sizing: border-box;
    flex-grow: 1; 
}

.details h1 {
    margin-bottom: 15px;
}

.details p {
    margin: 5px 0;
}


.detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 350px;
}

li {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    background: hsla(17, 100%, 45%, 0.4);
    margin: 5px;
    padding: 1%;
    border-radius: 8px;
}

li img {
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 5px;;
}